header {
    position: fixed;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
    width: 1200px;
    top: 0;
    height: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


div.header-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

div.header-menu-item {
    margin-right:150px;
    padding-left: 8px;
    padding-right: 8px;
    padding: 5px;
    font-size: 26px;
    font-weight: normal;
}

div.header-menu-item-current {
    margin-right:150px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 26px;
    font-weight: normal;
    border-bottom: 2px solid #000000;
}


#content-wrap {
    padding-top: 170px;
    padding-bottom: 2.5rem;   /* Footer height */
}

a {
    color: rgba(0, 0, 0, 1);
}

.account-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

div.account-menu-items {
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

#account-menu-item-net {
    padding-left: 22px;
    padding-right: 22px;
    background: #D7D7D7;
    border: 0.5px solid #C5C5C5;
    border-radius: 6px 0px 0px 6px;
}

#account-menu-item-payable {
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFFFF;
    border: 0.5px solid #C5C5C5;
    border-radius: 0px;
}

#account-menu-item-receivable {
    padding-left: 11px;
    padding-right: 11px;
    background: #FFFFFF;
    border: 0.5px solid #C5C5C5;
    border-radius: 0px 6px 6px 0px;
}

table.account-table {
    margin-top: 30px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    
}

td.user {
    width: 400px;
    height: 30px;
}

td.amount {
    width: 60px;
    text-align: right;
    padding-right: 16px;
}

td.rub {
    width: 26px;
    text-align: left;
    padding-right: 52px;
    font-size: 18px;
    line-height: 23px;
}

td.total {
    padding-top: 25px;
    font-weight: 700;
}

button {
    width: 140px;
    text-align: center;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    font-family: 'PT Sans';
}

button::hover {
    background: #000000;
    color: #FFFFFF;
}