body {
    margin: 0;
    /*padding-left: 120px;
    /*padding-right: 120px;
    top:0;
    /*width: 1440px;*/
    width: 100%;
    font-family: 'PT Sans';
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;   /* Footer height */
    padding-left: 120px;
}

#footer {
    padding-left: 120px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    height: 40px;  /* Footer height */
    font-size: 12px;
    color: rgba(58, 58, 58, 1);
}


.form {
    float: right;
    width: 423px;
    height: 495px;
    margin-top: 30px;
    margin-right: 100px;
    padding: 50px;
    border-radius: 4px;
    box-shadow: 2px 6px 20px 2px rgba(0, 0, 0, 0.15);
}


h1 {
    font-size: 42px;
    margin: 0px;
    margin-bottom: 20px;
}

h2 {
    font-size: 26px;
    margin: 0px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    color: rgba(58, 58, 58, 1);
}

h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    color: rgba(58, 58, 58, 1);
}

h5 {
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    color: rgba(58, 58, 58, 1);
}

h4.input-hint {
    color:rgba(113, 113, 113, 1);
}


input {
    width: 100%;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(220, 220, 220, 1);
    height:30px;
}

a.link {
    text-decoration: none;
    color: rgba(49, 139, 222, 1);
}

div.input-box {
    margin-top: 42px;
}

div.input {
    display: flex;
}

button.btn-login {
    width: 200px;
    height:30px;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background-color: rgba(49, 139, 222, 1);
    margin-top: 22px;
    margin-left: 223px;
    border-width: 0px;
    border-radius: 6px;
}

div.login-user-box {
    display: flex;
    /* justify-content: flex-start; */
    margin-top: 32px;
    margin-bottom: 40px;
}

div.login-user-box-circle {
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    padding-top: 12px;
    height: 43px;
    width: 55px;
    font-size: 26px;
    font-weight: normal;
    color: black;
    line-height: 34px;
}

div.login-user-box-info {
    margin: 10px;
}

#see-password-icon {
    margin-top: 6px;
    margin-left: -30px;
    cursor: pointer;
}