{% extends 'bills/layout.html' %}

{% block body %}
<header class="subHeader">
    <nav>
        <l1 class="title">Bill: {{ bill }}</l1>
    </nav>
</header>
<div class="mainBox">
    <div class="ItemsBox">
        <l1 class="title">Items</l1>
        <div class="card" style="padding-bottom: 0%;">
            <div class="card-body">
                {% if bill.items %}
                <ul class="list">
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ul>
                <div>
                    Total: {{ total_costs }}
                </div>
                {% else %}
                    <l3>Bill has no items</l3>
                {% endif %}
            </div>
        </div>
        <div class="subMainBox">
            <div class="subFormBoxLeft">
                <l1 class="title">Add Item</l1>
                <form action="{% url 'bills:add_item' bill.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Enter item name</label>
                        <input class="form-control" type="text" placeholder="name e.g. Чиабатта" name="name">
                    </div>
                    <div class="form-group">
                        <label>Enter items amount</label>
                        <input class="form-control"  type="number" placeholder="кол-во" name="amount">
                    </div>
                    <div class="form-group">
                        <label>Enter cost per item</label>
                        <input class="form-control"  type="number" placeholder="затраты на штуку" name="cost_per_exemplar">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="subFormBox">
                <l1 class="title">Assign payment</l1>
                <form action="{% url 'bills:assign_payment' bill.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Choose Item</label>
                        <select class="form-control" name="item">
                            {% for item in items %}
                                <option value="{{ item.id }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose Payer</label>
                        <select class="form-control" name="payer">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Enter cost share</label>
                        <input class="form-control"  type="number" step="0.01" placeholder="доля затрат" name="paying_part">
                    </div>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </form>
            </div>
        </div>
    </div>


    <div class="paymentsBox">
        <l1 class="title">Payments</l1>
        <div class="card" style="padding-bottom: 0%; margin-bottom: 10px;">
            <div class="card-body">
                {% if payments %}
                    <ul class="list">
                    {% for payment in payments %}
                        <li>{{ payment }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <l3>Bill has no payments</l3>
                {% endif %}
            </div>
        </div>
        <l1 class="title">Delete payment</l1>
        <form action="{% url 'bills:delete_payment' bill.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Choose Payment</label>
                <select class="form-control" name="payment">
                    {% for payment in payments %}
                        <option value="{{ payment.id }}">{{ payment }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>
{% endblock %}