{% extends 'bills/layout.html' %}

{% block body %}
<div class="main">
    <div class="bills-list-box">
        <div class="bills-list-head">
            <h3 class="bold">Bills are payed by</h3>
        </div>
        <div class="bills-list">
        </div>
        <div class="bills-list-show-more">
            <h5 class="bold" id="show-more">Show more</h5>
            <h5 class="bold" id="show-less" style="display:none;">Show less</h5>
        </div>
    </div>
    
    <div class="bill" style="display:none;">
        <h2>Кантата</h2>
    </div>
</div>
{% endblock %}