{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/account.css' %}">
    <title>Users</title>
</head>

<body>
    <div id="page-container">
        <header>
            <div class="header-menu">
                <div class="header-menu-item-current">
                    <a href="{% url 'users:index' %}" style="text-decoration: none;">
                        Home
                    </a>
                </div>
                <div class="header-menu-item">
                    <a href= "{% url 'bills:index' %}" style="text-decoration: none;">
                        Bills
                    </a>
                </div>
            </div>
            <div class="login-user-box-circle">
                {{ first_name_first_letter }}{{ last_name_first_letter }}
            </div>
        </header>
        <div id="content-wrap">
            {% block body %}
            {% endblock %}
        </div>
        <footer id="footer">
            Если сайт не работает, звоните Владимиру: +7 985 455-24-65
        </footer>
    </div>
    <script src="{% static '/js/account.js' %}"></script>
</body>

</html>