{% extends 'users/layout.html' %}

{% block body %}
    <l1>{{ user }} makes payment to {{ lender }}</l1>
    {% if bill_payment %}
        <ul>
        {% for bill, payment in bill_payment %}
            <li>{{bill}}
                <ul>
                    {% for payment_id, item_name, paying_amount in payment %}
                        <li>For {{item_name}} pay {{paying_amount}}</li>
                    {% endfor %}
                </ul>
                <form action="{% url 'make_payment' lender.username %}" method="post">
                    {% csrf_token %}
                    <select name="payments_ids" multiple>
                        {% for payment_id, item_name, paying_amount in payment %}
                            <option value="{{ payment_id }}">For {{item_name}} pay {{paying_amount}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}